<div class="simpleNotesApplication">
	<div class="sidebar" />
	<div class="noteOuterContainer">
		<div class="toolbar">
			<div class="create_new">
				<div class="expand">
					<div class="ico" />
				</div>
				<div class="sbutton new_public" data-literal='{"scope":"notes.main","name":"lbl_publicNote"}' />
				<div class="sbutton new_private" data-literal='{"scope":"notes.main","name":"lbl_privateNote"}' />
			</div>
			<div class="hd current_time" />
		</div>
		<div class="noteContainer" />
	</div>
</div>